img[src*="banner"] {
   width:100%;
   height:auto;
}

img[src*="left"] {
  float: left;
}

img[src*="right"] {
  float: right;
}

img[src*="100sq"] {
  width: 100px;
  height: 100px;
}

img[src*="125sq"] {
  width: 125px;
  height: 125px;
}

img[src*="150sq"] {
  width: 150px;
  height: 150px;
}

img[src*="200sq"] {
  width: 200px;
  height: 200px;
}

img[src*="100x"] {
  width: 100px;
}

img[src*="200x"] {
  width: 200px;
}

img[src*="100y"] {
  height: 100px;
}

img[src*="125y"] {
  height: 125px;
}

img[src*="150y"] {
  height: 150px;
}

img[src*="200y"] {
  height: 200px;
}

img[src*="5rad"] {
  border-radius: 5%;
}

img[src*="50rad"] {
  border-radius: 50%;
}

img[src*="sh"] {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




